/* Main navigation styling */
nav {
    background-color: blue;
    overflow: hidden;
    float: left;
    width: 100%;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 50%;
    right: 50%;
    display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    background-color: #000;
}
